* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#ad {
  display: block;
  overflow: hidden;
  width: 300px;
  height: 600px;
  background-color: #6c827b;
  position: relative;
  cursor: pointer;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
  z-index: 100;
}

#ad,
#ad * {
  box-sizing: border-box;
}
.abs {
  position: absolute;
}

figure {
  margin: 0;
  padding: 0;
}
.sprite.visible,
.visible {
  visibility: visible;
}
.hidden,
.sprite.hidden {
  visibility: hidden;
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nocrisp {
  image-rendering: auto !important;
  -ms-interpolation-mode: unset;
}
#banner-frame {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}
#ad,
#banner,
#clickarea {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
#banner,
#clickarea {
  width: 100%;
  height: 100%;
}
#ad {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #ffad00;
  border: 1px solid #000;
}

.sprite {
  background: url(assets/sprites.png) no-repeat 0 0;
  backface-visibility: hidden;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  background-size: 435px 455px;

  display: block;
  z-index: 1;
}

.sprite {
  left: 25px;
}
.sprite.kv {
  width: 140px;
  height: 230px;
  background-position: -280px -20px;
  bottom: 90px;
  right: 0;
  left: auto;
}
.sprite.copy1 {
  width: 255px;
  height: 125px;
  background-position: 0 0;
  top: 120px;
}
.sprite.copy2 {
  width: 260px;
  height: 155px;
  background-position: 0 -135px;
  top: 100px;
}
.sprite.copy3 {
  width: 260px;
  height: 120px;
  background-position: 0 -290px;
  top: 100px;
}
.sprite.cta {
  width: 100px;
  height: 20px;
  background-position: 0 -410px;
  top: 260px;
}
.sprite.logo {
  width: 105px;
  height: 40px;
  background-position: -115px -408px;
  bottom: 55px;
  left: 20px;
}
.sprite.legal {
  width: 60px;
  height: 15px;
  background-position: -225px -408px;
  bottom: 20px;
}

.cut {
  left: 0;
  width: 100%;
  height: 200%;
  transform: translate3d(0, -75%, 0);
  will-change: transform;
}
.cut svg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.cut.bg {
  fill: #a0ed00;
  top: 390px;
}
.cut.fg {
  fill: #6f46f1;
  top: 460px;
}
.disclaimer {
  border: none;
}
.disclaimer:focus {
  outline: none;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}
