* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#ad {
  display: block;
  overflow: hidden;
  width: 728px;
  height: 90px;
  background-color: #6c827b;
  position: relative;
  cursor: pointer;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
  z-index: 100;
}

#ad,
#ad * {
  box-sizing: border-box;
}
.abs {
  position: absolute;
}

figure {
  margin: 0;
  padding: 0;
}
.sprite.visible,
.visible {
  visibility: visible;
}
.hidden,
.sprite.hidden {
  visibility: hidden;
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nocrisp {
  image-rendering: auto !important;
  -ms-interpolation-mode: unset;
}
#banner-frame {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}
#ad,
#banner,
#clickarea {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
#banner,
#clickarea {
  width: 100%;
  height: 100%;
}
#ad {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #ffad00;
  border: 1px solid #000;
}

.sprite {
  background: url(assets/sprites.png) no-repeat 0 0;
  backface-visibility: hidden;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  background-size: 530px 300px;

  display: block;
  z-index: 1;
}

.sprite.kv {
  width: 115px;
  height: 101px;
  background-position: -425px 0;
  bottom: 0;
  right: 156px;
}

.sprite.copy1 {
  width: 255px;
  height: 70px;
  background-position: 0 0;
  top: 13px;
  left: 60px;
}
.sprite.copy2 {
  width: 420px;
  height: 50px;
  background-position: 0 -90px;
  top: 22px;
  left: 45px;
}
.sprite.copy3 {
  width: 420px;
  height: 50px;
  background-position: 0 -160px;
  top: 22px;
  left: 45px;
}
.sprite.cta {
  width: 100px;
  height: 20px;
  background-position: 0 -230px;
  right: 270px;
  bottom: 14px;
}
.sprite.logo {
  width: 105px;
  height: 40px;
  background-position: -100px -230px;
  right: 30px;
  top: 22px;
}
.sprite.legal {
  width: 60px;
  height: 15px;
  background-position: -217px -230px;
  right: 30px;
  bottom: 5px;
}

.cut {
  width: 200%;
  transform: translate3d(-50%, 0, 0);
  will-change: transform;
}
.cut,
.cut svg {
  top: 0;
  height: 100%;
}
.cut svg {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
}
.cut.leftBg {
  fill: #ff0076;
  left: 0;
  z-index: 0;
}
.cut.bg {
  fill: #a0ed00;
  left: 520px;
}
.cut.fg {
  fill: #6f46f1;
  left: 560px;
}
.disclaimer {
  border: none;
}
#legal,
.disclaimer:focus {
  outline: none;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}
