* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

#ad {
  display: block;
  overflow: hidden;
  width: 728px;
  height: 90px;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
}

#banner,
.frame {
  width: 100%;
  height: 100%;
  z-index: 100;
}

#ad,
#ad * {
  box-sizing: border-box;
}
.abs,
.visually-hidden {
  position: absolute;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}
figure {
  margin: 0;
  padding: 0;
}
.sprite.visible,
.visible {
  visibility: visible;
}
.hidden,
.sprite.hidden {
  visibility: hidden;
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nocrisp {
  image-rendering: auto !important;
  -ms-interpolation-mode: unset;
}
#banner-frame {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: 0;
  left: 0;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}
#ad,
#banner,
#clickarea {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}
#banner,
#clickarea {
  width: 100%;
  height: 100%;
}
#ad {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #f2af3e;
}
.copy,
.kv,
.cta,
.logo {
  z-index: 1;
}

.sprite {
  background: url(assets/sprites.png) no-repeat 0 0;
  backface-visibility: hidden;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  background-size: 455px 349px;
  display: block;
}

.sprite.copy1 {
  width: 300px;
  height: 30px;
  background-position: 0 0;
  top: 28px;
}

.sprite.copy2 {
  width: 450px;
  height: 30px;
  background-position: 0 -34px;
  top: 28px;
}

.sprite.copy3 {
  width: 400px;
  height: 65px;
  background-position: 0 -66px;
  top: 14px;
}

.copy {
  left: 17px;
}

.sprite.kv1 {
  width: 185px;
  height: 105px;
  background-position: 0px -176px;
  bottom: 2px;
}

.sprite.kv2 {
  width: 187px;
  height: 105px;
  background-position: -186px -118px;
  bottom: 1px;
}

.sprite.kv3 {
  width: 187px;
  height: 105px;
  background-position: -186px -223px;
  bottom: 1px;
}

.kv {
  right: 75px;
}

.sprite.cta {
  width: 96px;
  height: 20px;
  background-position: 0px -133px;
  top: 55px;
  left: 280px;
}

.sprite.logo {
  width: 96px;
  height: 40px;
  background-position: 0px -153px;
  top: 22px;
  right: 20px;
}
.cut {
  width: 200%;
  transform: translate3d(-50%, 0, 0);
  will-change: transform;
}
.cut,
.cut svg {
  top: 0;
  height: 100%;
}
.cut svg {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
}
.cut.bg {
  fill: #a0ed00;
  left: 550px;
}
.cut.fg {
  fill: #6f46f1;
  left: 584px;
}
.disclaimer {
  border: none;
}
#legal,
.disclaimer:focus {
  outline: none;
}
#legal {
  overflow: visible;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  font-family: Arial;
  text-align: left;
  width: calc(100% - 24px);
  min-height: 30px;
  opacity: 0;
  visibility: hidden;
  font-family: HelveticaNeueCondensed, HelveticaNeue-Condensed, Helvetica Neue Condensed,
    HelveticaNeueRomanCondensed, HelveticaNeue-Roman-Condensed, Helvetica Neue Roman Condensed,
    HelveticaNeue, Helvetica Neue, HelveticaNeueRoman, HelveticaNeue-Roman, Helvetica Neue Roman,
    Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #000;
  right: 10px;
  bottom: 20px;
}
#legal:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 6px 5px 0;
  bottom: -6px;
  left: 10px;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
